### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### .DS_Dtore files provided by Brainstation ###
*.DS_Store

### Ignore reference files ###
assets/copyDeck
/mockups

### VSCODE SETTINGS ###
*.vscode
.prettierrc
