// COLOURS

//bandsite black
$primary_dark: #323232;
$primary_dark--overlay: #33333380;

//silver
$primary_med: #afafaf;

//white
$primary_light: #ffffff;

//bandsite darkblack
$secondary_dark: #000000;

//mercury
$secondary_med: #e1e1e1;

//alabaster
$secondary_light: #fafafa;
