@use './colours';
@use './typography';
@use './mixins';

* {
	text-decoration: none;
	box-sizing: border-box;
}

body {
	@include typography.body-copy;
	margin: 0;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: colours.$primary_dark;

	@include mixins.tablet {
		@include mixins.mobile-padding;
		flex-direction: row;
		align-items: center;
		column-gap: 4rem;
	}

	@include mixins.desktop {
		@include mixins.desktop-padding;
	}

	&__header {
		max-height: 1.25rem;
		max-width: 7.5rem;
		margin: 1rem 0 0.5rem;

		@include mixins.tablet {
			margin: 0;
		}
	}

	&__list {
		display: flex;
		align-items: stretch;

		@include mixins.tablet {
			column-gap: 3rem;
		}
	}

	&__item {
		text-align: center;
		width: 50vw;
		padding: 0.5rem 0;
		height: 100%;

		@include mixins.tablet {
			width: auto;
			padding: 1.5rem 0;
		}

		@include mixins.desktop {
			min-width: 4rem;
		}

		&:hover {
			@include mixins.active-link;
		}

		&--active {
			@include mixins.active-link;
			font-weight: 600;
		}
	}

	&__item-link {
		color: colours.$secondary_med;
	}
}

.hero {
	background-size: cover;
	color: colours.$primary_light;

	&__overlay {
		display: flex;
		align-items: center;
		background-color: colours.$primary_dark--overlay;
		height: 100%;
	}

	&__header {
		margin-left: 5vw;
		@extend %mobile__page-header;

		@include mixins.tablet {
			@include typography.page-header;
			font-weight: 600;
		}

		@include mixins.desktop {
			margin: 2rem 2.5rem 0rem 10vw;
		}
	}
}

.cta-button {
	@extend %mobile__subheader;
	width: 100%;
	height: 2.5rem;
	background-color: colours.$primary_dark;
	color: colours.$primary_light;
	border: none;
	border-radius: 0.25rem;
	margin-top: 1rem;

	@include mixins.tablet {
		min-width: 9.375rem;
		width: 9.375rem;
		padding: 0;
		margin: 0;
	}

	&:hover {
		background-color: colours.$secondary_dark;
	}
}

.footer {
	padding: 1rem 0;
	@include mixins.mobile-padding;
	background-color: colours.$primary_dark;
	color: colours.$primary_light;

	@include mixins.tablet {
		padding-top: 3rem;
		padding-bottom: 2.5rem;
		position: relative;
	}

	@include mixins.desktop {
		@include mixins.desktop-padding;
		padding-top: 3rem;
	}

	&__social-pages {
		@include mixins.tablet {
			display: flex;
			align-items: baseline;
		}
	}

	&__heading {
		@extend %mobile__page-header;

		@include mixins.tablet {
			@include typography.section-header;
			margin: 0 4vw 1.5rem 0;
		}
	}

	&__social-link {
		display: inline-block;
		margin-right: 2rem;
	}

	&__social-icon {
		height: 1.5rem;
	}

	&__logo {
		max-height: 1.25rem;
		max-width: 7.5rem;

		@include mixins.tablet {
			margin: 0;
			position: absolute;
			top: 3.8rem;
			right: 5vw;
		}

		@include mixins.desktop {
			top: 3.8rem;
			right: 10vw;
		}
	}

	&__logo-image {
		margin-top: 2rem;

		@include mixins.tablet {
			margin: 0;
		}
	}

	&__copyright {
		font-size: 0.7rem;

		@include mixins.tablet {
			@include typography.footer-copy;
			margin-top: 2rem;
		}
	}
}

.contact {
	@include mixins.tablet {
		display: flex;
		justify-content: space-between;
		width: 42.25rem;
	}

	@include mixins.desktop {
		width: 45rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__header {
		@extend %mobile__subheader;
		margin: 1rem 0;
	}

	&__info {
		margin: 0;
	}

	&__mailto {
		color: colours.$primary_light;
		margin: 1rem 0 0.5rem;
	}
}
