@font-face {
  font-family: "avenir-next";
  font-weight: 400;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-next";
  font-weight: 600;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-next";
  font-weight: 700;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTProBold.ttf") format("truetype");
}
.nav__header, .hero__header, .about__header, .gallery__heading, .footer__heading, .footer__logo {
  font-family: "avenir-next";
  font-size: 1.47rem;
  font-weight: 700;
  line-height: 2rem;
}

.bio__header, .contact__header {
  font-family: "avenir-next";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.bio__copy {
  font-family: "avenir-next";
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.125;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "avenir-next";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: baseline;
  }
}
.nav__header, .footer__logo {
  font-weight: 400;
  margin: 1rem 0 0.5rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .nav__header, .footer__logo {
    margin: 1.75vw 5vw 1.5vw;
  }
}
.nav__list {
  display: flex;
  align-items: stretch;
}
.nav__item {
  text-align: center;
  width: 50vw;
}
@media (min-width: 768px) {
  .nav__item {
    width: auto;
    margin: 0 1.5rem;
  }
}
@media (min-width: 768px) {
  .nav__item :hover {
    color: #ffffff;
    padding-bottom: 1.5vw;
    border-bottom: 0.25rem solid #ffffff;
    padding-bottom: calc(1.5vw + 0.22rem);
  }
}
.nav__item-link {
  color: #e1e1e1;
}
.nav__item--active {
  color: #ffffff;
  padding-bottom: 1.5vw;
  border-bottom: 0.25rem solid #ffffff;
  font-weight: 600;
}

.hero {
  background-image: url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center -0.5rem;
  height: 58vw;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero {
    background-position: center -3.4rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 49.5vw;
    background-position: center -3rem;
  }
}
.hero__overlay {
  display: flex;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5019607843);
  height: 100%;
}
.hero__header {
  margin-left: 5vw;
}
@media (min-width: 768px) {
  .hero__header {
    font-family: "avenir-next";
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    margin: 2rem 2.5rem 0rem 10vw;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vw;
  color: #323232;
}
@media (min-width: 768px) {
  .about {
    background-position: center -3.75rem;
    padding: 3.5rem 5vw;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 1.5rem 10vw;
  }
}
.about__header {
  align-self: flex-start;
  margin: 1.5rem 0 0.5rem;
}
@media (min-width: 768px) {
  .about__header {
    font-family: "avenir-next";
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .about__container {
    padding: 0 8vw;
  }
}
@media (min-width: 1280px) {
  .about__container {
    padding: 0 6.875vw;
  }
}
.about__image {
  background-image: url(../assets/images/band.jpg);
  background-size: cover;
  background-position: bottom;
  aspect-ratio: 16/9;
  width: 100%;
}
@media (min-width: 768px) {
  .about__image {
    width: 100%;
    background-position: top -2.5rem left;
    margin: 1.5rem 0 2rem;
  }
}
.about__caption, .about__attribution {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .about__caption, .about__attribution {
    font-family: "avenir-next";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .about__caption, .about__attribution {
    margin-right: 11rem;
  }
}
@media (min-width: 768px) {
  .about__attribution {
    font-size: 1rem;
  }
}

.bio {
  padding: 0.5rem 5vw;
  color: #323232;
}
@media (min-width: 768px) {
  .bio {
    padding: 0 11vw;
  }
}
@media (min-width: 1280px) {
  .bio {
    padding: 0rem 15.875vw;
  }
}
.bio__header {
  font-size: 0.95rem;
}
@media (min-width: 768px) {
  .bio__header {
    font-family: "avenir-next";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 2.5rem 0 1.5rem 1rem;
  }
}
@media (min-width: 768px) {
  .bio__container {
    display: flex;
  }
}
@media (min-width: 768px) {
  .bio__copy {
    font-family: "avenir-next";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin: 0 1rem 2rem;
  }
}

.gallery {
  padding: 2rem 5vw 0;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    padding: 3rem 5vw 1rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 2rem 10vw 0rem;
  }
}
.gallery__heading {
  margin: 0 0 0.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-family: "avenir-next";
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    margin-bottom: 2rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.gallery__photo {
  width: 90vw;
  margin: 0 0 1rem;
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 28.5vw;
    margin: 0 0 2vw;
    filter: grayscale(100%) !important;
    transition: 0.4s;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    margin-bottom: 1.5vw;
  }
}
@media (min-width: 768px) {
  .gallery__photo:hover {
    filter: grayscale(0%) !important;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    width: 25.5vw;
  }
}

.footer {
  background-color: #323232;
  padding: 1rem 5vw 1rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    padding: 5rem 5vw 2.5rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 10vw 2.5rem;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 768px) {
  .footer__heading {
    font-family: "avenir-next";
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 0 2.5vw 0 0;
  }
}
.footer__social-link {
  display: inline-block;
  margin-right: 2rem;
}
.footer__social-icon {
  height: 1.5rem;
}
.footer__logo {
  margin: 3rem 0 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
    position: absolute;
    top: 5rem;
    right: 5vw;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 3rem;
    right: 10vw;
  }
}
.footer__copyright {
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-family: "avenir-next";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: space-between;
    width: 43.25rem;
  }
}
.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__header {
  margin: 2rem 0 1rem;
}
.contact__mailto {
  color: #ffffff;
  margin: 1rem 0;
}