@use "./partials/colours";
@use "./partials/typography";
@use "./partials/mixins";
@use "./partials/global";

.about {
	@include mixins.mobile-padding;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: colours.$primary_dark;

	@include mixins.tablet {
		background-position: center -3.75rem;
		padding-top: 1.5rem;
	}

	@include mixins.desktop {
		@include mixins.desktop-padding;
	}

	&__header {
		@extend %mobile__page-header;
		align-self: flex-start;
		margin: 1.5rem 0 0.5rem;

		@include mixins.tablet {
			@include mixins.section-header;
		}
	}

	&__container {
		@include mixins.tablet {
			@include mixins.further-tablet-padding;
		}

		@include mixins.desktop {
			@include mixins.further-desktop-padding;
		}
	}

	&__image {
		background-image: url(../assets/images/band.jpg);
		background-size: cover;
		background-position: bottom;
		aspect-ratio: 16/9;
		width: 100%;

		@include mixins.tablet {
			width: 100%;
			background-position: top -2.5rem left;
			margin: 1.5rem 0 2rem;
		}
	}

	&__caption {
		font-weight: 600;
		margin-bottom: 0.5rem;

		@include mixins.tablet {
			@include mixins.subheader;
			font-size: 1.4rem;
		}

		@include mixins.desktop {
			margin-right: 11rem;
		}
	}

	&__attribution {
		@extend .about__caption;

		@include mixins.tablet {
			font-size: 1rem;
		}
	}
}

.bio {
	@include mixins.mobile-padding;
	padding-top: 0.5rem;
	color: colours.$primary_dark;

	@include mixins.desktop {
		@include mixins.desktop-padding;
	}

	&__body-padding {
		@include mixins.tablet {
			@include mixins.further-tablet-padding;
		}

		@include mixins.desktop {
			@include mixins.further-desktop-padding;
		}
	}

	&__header {
		@extend %mobile__subheader;
		font-size: 0.95rem;

		@include mixins.tablet {
			@include mixins.subheader;
			@include mixins.further-tablet-padding;
			margin: 2.5rem 0 1.5rem;
		}

		@include mixins.desktop {
			@include mixins.further-desktop-padding;
		}
	}

	&__container {
		@include mixins.tablet {
			display: flex;
			gap: 1.15rem;
		}
	}

	&__copy {
		@extend %mobile__body-copy;

		@include mixins.tablet {
			@include mixins.body-copy;
			margin-bottom: 2rem;
		}
	}
}

.gallery {
	@include mixins.mobile-padding;
	padding-top: 2rem;
	background-color: colours.$secondary_light;

	@include mixins.desktop {
		@include mixins.desktop-padding;
	}

	&__heading {
		@extend %mobile__page-header;
		margin: 0 0 0.5rem;
		color: colours.$primary_dark;

		@include mixins.tablet {
			@include mixins.section-header;
			margin: 1.5rem 0 1.5rem;
		}

		@include mixins.desktop {
			margin-bottom: 2rem;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include mixins.tablet {
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}

	&__photo {
		width: 90vw;
		margin: 0 0 1rem;

		@include mixins.tablet {
			width: 28.5vw;
			margin: 0 0 2vw;
			filter: grayscale(100%) !important;
			transition: 0.4s;
		}

		@include mixins.desktop {
			margin-bottom: 1.5vw;
		}

		&:hover {
			@include mixins.tablet {
				filter: grayscale(0%) !important;
			}
		}

		@include mixins.desktop {
			width: 25.5vw;
		}
	}
}

// .comments {
// 	&__form {
// 	}

// 	&__header {
// 	}

// 	&__comment {
// 	}
// }

// .cta-button {
// }
