@font-face {
  font-family: "avenir-next";
  font-weight: 400;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-next";
  font-weight: 600;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-next";
  font-weight: 700;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTProBold.ttf") format("truetype");
}
.nav__header, .hero__header, .about__header, .gallery__heading, .footer__heading, .footer__logo {
  font-family: "avenir-next";
  font-size: 1.47rem;
  font-weight: 700;
  line-height: 2rem;
}

.nav__item, .bio__header, .contact__header {
  font-family: "avenir-next";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.bio__copy {
  font-family: "avenir-next";
  font-size: 0.813;
  font-weight: 400;
  line-height: 1.125;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "avenir-next";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: baseline;
  }
}
.nav__header, .footer__logo {
  font-weight: 400;
  max-width: 120px;
  max-height: 20px;
  color: #ffffff;
  margin: 1rem;
}
@media (min-width: 768px) {
  .nav__header, .footer__logo {
    margin: 1.5rem 2rem;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__item {
  display: inline-block;
  width: 49.7vw;
}
@media (min-width: 768px) {
  .nav__item {
    width: auto;
    margin: 0 2rem;
  }
}
.nav__item-link {
  font-weight: 400;
  text-decoration: none;
  color: #e1e1e1;
}
.nav__item--active {
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 0.25rem solid #ffffff;
}
@media (min-width: 768px) {
  .nav__item--active {
    padding-bottom: 1rem;
  }
}

.hero {
  background-image: url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center -0.875rem;
  height: 58vw;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero {
    background-position: center -3.75rem;
  }
}
.hero__overlay {
  display: flex;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5019607843);
  width: 100%;
  height: 100%;
}
.hero__header {
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .hero__header {
    margin-left: 2rem;
    font-family: "avenir-next";
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  color: #323232;
}
@media (min-width: 768px) {
  .about {
    background-position: center -3.75rem;
  }
}
.about__header {
  font-weight: 600;
  align-self: flex-start;
  margin: 1.5rem 0 0.5rem;
}
@media (min-width: 768px) {
  .about__header {
    font-family: "avenir-next";
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 3.5rem 1.5rem 1.5rem;
  }
}
@media (min-width: 768px) {
  .about__container {
    padding: 0 5rem;
  }
}
.about__image {
  background-image: url(../assets/images/band.jpg);
  background-size: cover;
  background-position: bottom;
  height: 9.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__image {
    height: 19rem;
    background-position: top -3rem left;
    margin: 0 0 2rem;
  }
}
.about__caption, .about__attribution {
  align-self: baseline;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .about__caption, .about__attribution {
    font-family: "avenir-next";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}
.about__attribution {
  align-self: flex-start;
  margin: 0 0 0.5rem;
}
@media (min-width: 768px) {
  .about__attribution {
    font-size: 1rem;
  }
}

.bio {
  padding: 0 1rem;
  color: #323232;
}
@media (min-width: 768px) {
  .bio {
    padding: 0 5rem;
  }
}
.bio__header {
  font-size: 0.95rem;
}
@media (min-width: 768px) {
  .bio__header {
    font-family: "avenir-next";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 3rem 0 1.5rem 1rem;
  }
}
@media (min-width: 768px) {
  .bio__container {
    display: flex;
  }
}
.bio__copy {
  margin: 0 1rem 0 0;
}
@media (min-width: 768px) {
  .bio__copy {
    font-family: "avenir-next";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin: 0 1rem 2rem;
  }
}

.gallery {
  padding: 3rem 1rem 0;
  background-color: #fafafa;
}
.gallery__heading {
  margin: 2.5rem 0 0.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-family: "avenir-next";
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 1.5rem 1.5rem 1.5rem;
  }
}
.gallery__photo {
  width: 90vw;
  margin: 0 0 0.5rem;
}

.footer {
  background-color: #323232;
  padding: 1rem;
  color: #ffffff;
}
.footer__social, .footer__social-icon, .footer__social-link {
  height: 1.5rem;
}
.footer__social-link {
  display: inline-block;
  margin-right: 2rem;
}
.footer__logo {
  margin-top: 3rem;
}
.footer__copyright {
  font-size: 0.7rem;
}

.contact__header {
  margin: 2rem 0 1rem;
}
.contact__mailto {
  color: #ffffff;
}