@font-face {
  font-family: "avenir-next";
  font-weight: 400;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-next";
  font-weight: 600;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "avenir-next";
  font-weight: 700;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alt-files/AvenirNextLTProBold.ttf") format("truetype");
}
.about__header, .gallery__heading, .comments__header, .hero__header, .footer__heading {
  font-family: "avenir-next", Helvetica, sans-serif;
  font-size: 1.47rem;
  font-weight: 700;
  line-height: 2rem;
}

.bio__header, .comment__name, .cta-button, .contact__header {
  font-family: "avenir-next", Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.bio__copy, .comment__body {
  font-family: "avenir-next", Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.125;
}

.comments__form-label {
  font-family: "avenir-next", Helvetica, sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "avenir-next", Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav {
    padding-right: 5vw;
    padding-left: 5vw;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
@media (min-width: 1280px) {
  .nav {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}
.nav__header {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0 0.5rem;
}
@media (min-width: 768px) {
  .nav__header {
    margin: 0;
  }
}
.nav__list {
  display: flex;
  align-items: stretch;
}
@media (min-width: 768px) {
  .nav__list {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
.nav__item {
  text-align: center;
  width: 50vw;
  padding: 0.5rem 0;
  height: 100%;
}
@media (min-width: 768px) {
  .nav__item {
    width: auto;
    padding: 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .nav__item {
    min-width: 4rem;
  }
}
.nav__item:hover {
  color: #ffffff;
  border-bottom: 0.2rem solid #ffffff;
}
.nav__item--active {
  color: #ffffff;
  border-bottom: 0.2rem solid #ffffff;
  font-weight: 600;
}
.nav__item-link {
  color: #e1e1e1;
}

.hero {
  background-size: cover;
  color: #ffffff;
}
.hero__overlay {
  display: flex;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5019607843);
  height: 100%;
}
.hero__header {
  margin-left: 5vw;
}
@media (min-width: 768px) {
  .hero__header {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    letter-spacing: 0.063rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    margin: 2rem 2.5rem 0rem 10vw;
  }
}

.cta-button {
  width: 100%;
  height: 2.5rem;
  background-color: #323232;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .cta-button {
    min-width: 9.375rem;
    width: 9.375rem;
    padding: 0;
    margin: 0;
  }
}
.cta-button:hover {
  background-color: #000000;
  cursor: pointer;
}

.footer {
  padding: 1rem 0;
  padding-right: 5vw;
  padding-left: 5vw;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  .footer__social-pages {
    display: flex;
    align-items: baseline;
  }
}
@media (min-width: 768px) {
  .footer__heading {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 0 4vw 1.5rem 0;
  }
}
.footer__social-link {
  display: inline-block;
  margin-right: 2rem;
}
.footer__social-icon {
  height: 1.5rem;
}
.footer__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
    position: absolute;
    top: 3.8rem;
    right: 5vw;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 3.8rem;
    right: 10vw;
  }
}
.footer__logo-image {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__logo-image {
    margin: 0;
  }
}
.footer__copyright {
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: space-between;
    width: 42.25rem;
  }
}
@media (min-width: 1280px) {
  .contact {
    width: 45rem;
  }
}
.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__header {
  margin: 1rem 0;
}
.contact__info {
  margin: 0;
}
.contact__mailto {
  color: #ffffff;
  margin: 1rem 0 0.5rem;
}

.hero {
  background-image: url(../../assets/images/hero-bio.jpg);
  background-position: center -0.8rem;
  height: 59vw;
}
@media (min-width: 768px) {
  .hero {
    background-position: center -3.4rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 49.5vw;
    background-position: center -3rem;
  }
}

.about {
  padding-right: 5vw;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #323232;
}
@media (min-width: 768px) {
  .about {
    background-position: center -3.75rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}
.about__header {
  align-self: flex-start;
  margin: 1.5rem 0 0.5rem;
}
@media (min-width: 768px) {
  .about__header {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .about__container {
    padding-right: 8vw;
    padding-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .about__container {
    padding-right: 6.875vw;
    padding-left: 6.875vw;
  }
}
.about__image {
  background-image: url(../assets/images/band.jpg);
  background-size: cover;
  background-position: bottom;
  aspect-ratio: 16/9;
  width: 100%;
}
@media (min-width: 768px) {
  .about__image {
    width: 100%;
    background-position: top -2.5rem left;
    margin: 1.5rem 0 2rem;
  }
}
.about__caption, .about__attribution {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .about__caption, .about__attribution {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .about__caption, .about__attribution {
    margin-right: 11rem;
  }
}
.about__attribution {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .about__attribution {
    font-size: 1rem;
  }
}

.bio {
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 0.5rem;
  color: #323232;
}
@media (min-width: 1280px) {
  .bio {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}
@media (min-width: 768px) {
  .bio__body-padding {
    padding-right: 8vw;
    padding-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .bio__body-padding {
    padding-right: 6.875vw;
    padding-left: 6.875vw;
  }
}
.bio__header {
  font-size: 0.95rem;
}
@media (min-width: 768px) {
  .bio__header {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    padding-right: 8vw;
    padding-left: 8vw;
    margin: 2.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .bio__header {
    padding-right: 6.875vw;
    padding-left: 6.875vw;
  }
}
@media (min-width: 768px) {
  .bio__container {
    display: flex;
    gap: 1.15rem;
  }
}
@media (min-width: 768px) {
  .bio__copy {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-bottom: 2rem;
  }
}

.gallery {
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 2rem;
  background-color: #fafafa;
}
@media (min-width: 1280px) {
  .gallery {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-bottom: 1rem;
  }
}
.gallery__heading {
  margin: 0 0 0.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    margin-bottom: 2rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.gallery__photo {
  width: 90vw;
  margin: 0 0 1rem;
}
@media (min-width: 768px) {
  .gallery__photo {
    width: 28.5vw;
    margin: 0 0 2vw;
    filter: grayscale(100%) !important;
    transition: 0.4s;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    margin-bottom: 1.5vw;
  }
}
@media (min-width: 768px) {
  .gallery__photo:hover {
    filter: grayscale(0%) !important;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    width: 25.5vw;
  }
}

.comments {
  padding: 0 0 1rem;
  padding-right: 5vw;
  padding-left: 5vw;
  color: #323232;
}
@media (min-width: 1280px) {
  .comments {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}
.comments__header {
  margin: 1rem 0 0;
}
@media (min-width: 1280px) {
  .comments__header {
    font-family: "avenir-next", Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 2.5rem 0 1rem;
  }
}
.comments__form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: solid 0.063rem #e1e1e1;
}
@media (min-width: 1280px) {
  .comments__form {
    padding: 0 20vw;
  }
}
.comments__form-avatar, .comment__avatar {
  height: 2.25rem;
  width: 2.25rem;
  margin-top: 2.5rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  overflow: hidden;
}
@media (min-width: 768px) {
  .comments__form-avatar, .comment__avatar {
    height: 3rem;
    width: 3rem;
  }
}
.comments__form-label {
  display: block;
  color: #afafaf;
  font-weight: 600;
  margin: 1rem 0 0;
}
.comments__form-fields {
  display: flex;
  flex-direction: column;
  width: 82%;
}
@media (min-width: 768px) {
  .comments__form-fields {
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .comments__form-fields {
    width: 88%;
  }
}
.comments__form-field {
  min-height: 2.25rem;
  width: 100%;
  background-color: #fafafa;
  padding: 0.75rem;
  border: 0.063rem solid #e1e1e1;
  border-radius: 0.25rem;
  resize: none;
  outline: none;
}
@media (min-width: 768px) {
  .comments__form-field {
    min-height: 3rem;
    padding: 1rem;
  }
}
.comments__form-field::-moz-placeholder {
  font-family: "avenir-next";
  color: #323232;
}
.comments__form-field::placeholder {
  font-family: "avenir-next";
  color: #323232;
}
.comments__form-field:focus {
  border-color: #323232;
}
.comments__form-field--error {
  border-color: #d22d2d;
}
@media (min-width: 768px) {
  .comments__container {
    padding-right: 8vw;
    padding-left: 8vw;
  }
}
@media (min-width: 1280px) {
  .comments__container {
    padding: 0 20vw;
  }
}
.comments__button {
  margin: 1.5rem 0 0.5rem;
  align-self: flex-end;
}

.comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 0.5rem;
  border-bottom: solid 0.063rem #e1e1e1;
}
.comment__header {
  display: flex;
  justify-content: space-between;
}
.comment__avatar {
  margin-top: 0;
}
.comment__avatar-img {
  height: 2.25rem;
}
@media (min-width: 768px) {
  .comment__avatar-img {
    height: 3rem;
  }
}
.comment__wrapper {
  width: 82%;
}
.comment__name {
  margin: 0 0 0.75rem;
}
.comment__date {
  color: #e1e1e1;
  margin: 0;
}
.comment__body {
  line-height: 1.25rem;
  margin: 0;
}