@use "./partials/variables";
@use "./partials/typography";
@use "./partials/mixins";

* {
	text-decoration: none;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	@include mixins.body-copy;
	margin: 0;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: variables.$primary_dark;
	color: variables.$primary_light;

	@include mixins.tablet {
		flex-direction: row;
		align-items: baseline;
	}

	&__header {
		@extend %mobile__page-header;
		font-weight: 400;
		max-width: 120px;
		max-height: 20px;
		color: variables.$primary_light;
		margin: 1rem;

		@include mixins.tablet {
			margin: 1.5rem 2rem;
		}

		@include mixins.desktop {
			margin: 2rem 2.5rem 0rem 8rem;
		}
	}

	&__list {
		display: flex;
		padding: 0;
		margin: 0;

		@include mixins.tablet {
			display: flex;
		}
	}

	&__item {
		display: inline-block;
		text-align: center;
		width: 49.7vw;
		@extend %mobile__subheader;

		@include mixins.tablet {
			width: auto;
			margin: 0 2rem;
		}

		@include mixins.desktop {
			margin: 0 1rem;
		}

		&-link {
			font-weight: 400;
			text-decoration: none;
			color: variables.$secondary_med;
		}

		&--active {
			font-weight: 700;
			padding-bottom: 0.5rem;
			border-bottom: 0.25rem solid variables.$primary_light;

			@include mixins.tablet {
				padding-bottom: 1rem;
			}

			@include mixins.desktop {
				padding-bottom: 1.5rem;
				border-width: 0.063rem;
			}
		}
	}
}

.hero {
	background-image: url(../../assets/images/hero-bio.jpg);
	background-size: cover;
	background-position: center -0.875rem;
	height: 58vw;
	color: variables.$primary_light;

	@include mixins.tablet {
		background-position: center -3.75rem;
	}

	@include mixins.desktop {
		height: 49.5vw;
		background-position: center -3rem;
	}

	&__overlay {
		display: flex;
		align-items: center;
		background-color: variables.$primary_dark--overlay;
		width: 100%;
		height: 100%;
	}

	&__header {
		margin-left: 1rem;
		@extend %mobile__page-header;

		@include mixins.tablet {
			margin-left: 2rem;
			@include mixins.page-header;
			font-weight: 600;
		}

		@include mixins.desktop {
			margin: 2rem 2.5rem 0rem 8rem;
		}
	}
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;
	color: variables.$primary_dark;

	@include mixins.tablet {
		background-position: center -3.75rem;
	}

	&__header {
		@extend %mobile__page-header;
		font-weight: 600;
		align-self: flex-start;
		margin: 1.5rem 0 0.5rem;

		@include mixins.tablet {
			@include mixins.section-header;
			margin: 3.5rem 1.5rem 1.5rem;
		}

		@include mixins.desktop {
			margin: 2rem 2.5rem 0rem 8rem;
		}
	}

	&__container {
		@include mixins.tablet {
			padding: 0 5rem;
		}
	}

	&__image {
		background-image: url(../assets/images/band.jpg);
		background-size: cover;
		background-position: bottom;
		height: 9.5rem;
		margin: 0;

		@include mixins.tablet {
			height: 19rem;
			background-position: top -3rem left;
			margin: 0 0 2rem;
		}
	}

	&__caption {
		align-self: baseline;
		font-weight: 600;
		margin-bottom: 0.5rem;

		@include mixins.tablet {
			@include mixins.subheader;
			font-size: 1.4rem;
		}
	}

	&__attribution {
		@extend .about__caption;
		align-self: flex-start;

		@include mixins.tablet {
			font-size: 1rem;
		}
	}
}

.bio {
	padding: 0.5rem 1rem;
	color: variables.$primary_dark;

	@include mixins.tablet {
		padding: 0 5rem;
	}

	&__header {
		@extend %mobile__subheader;
		font-size: 0.95rem;

		@include mixins.tablet {
			@include mixins.subheader;
			margin: 2.5rem 0 1.5rem 1rem;
		}
	}

	&__container {
		@include mixins.tablet {
			display: flex;
		}
	}

	&__copy {
		@extend %mobile__body-copy;
		margin: 0 1rem 0.5rem 0;

		@include mixins.tablet {
			@include mixins.body-copy;
			margin: 0 1rem 2rem;
		}
	}
}

.gallery {
	padding: 2rem 1rem 0;
	background-color: variables.$secondary_light;

	@include mixins.tablet {
		padding: 3rem 2.5rem 1rem;
	}

	&__heading {
		@extend %mobile__page-header;
		margin: 0 0 0.5rem;
		color: variables.$primary_dark;

		@include mixins.tablet {
			@include mixins.section-header;
			margin: 1.5rem 0 1.5rem;
		}
	}

	&__container {
		@include mixins.tablet {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: space-between;
		}
	}

	&__photo {
		width: 90vw;
		margin: 0 0 0.5rem;

		@include mixins.tablet {
			width: 27.75vw;
			margin-bottom: 1rem;
		}
	}
}

.footer {
	background-color: variables.$primary_dark;
	padding: 1rem;
	color: variables.$primary_light;

	@include mixins.tablet {
		padding: 3rem 2.5rem 2.5rem;
		position: relative;
	}

	&__container {
		@include mixins.tablet {
			display: flex;
			align-items: baseline;
		}
	}

	&__heading {
		@extend %mobile__page-header;

		@include mixins.tablet {
			@include mixins.section-header;
			margin: 0 2rem 0 0;
		}
	}

	&__social {
		height: 1.5rem;

		&-link {
			@extend .footer__social;
			display: inline-block;
			margin-right: 2rem;
		}

		&-icon {
			@extend .footer__social;
		}
	}

	&__logo {
		@extend .nav__header;
		margin: 3rem 0 1rem 0;

		@include mixins.tablet {
			margin: 0;
			position: absolute;
			top: 3rem;
			right: 2.5rem;
		}
	}

	&__copyright {
		font-size: 0.7rem;

		@include mixins.tablet {
			@include mixins.footer-copy;
			margin-top: 3rem;
		}
	}
}

.contact {
	@include mixins.tablet {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	&__header {
		@extend %mobile__subheader;
		margin: 2rem 0 1rem;
	}

	&__mailto {
		color: variables.$primary_light;
	}
}
