@use '../styles/partials/colours';
@use '../styles/partials/typography';
@use '../styles/partials/mixins';
@use '../styles/partials/global';

.hero {
	background-image: url(../assets/images/hero-shows.jpg);
	background-position: center;
	height: 86vw;

	@include mixins.tablet {
		height: 64vw;
	}

	@include mixins.desktop {
		background-position: center -9rem;
		height: 49vw;
	}

	&__overlay {
		@include mixins.mobile-padding;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 1vw;

		@include mixins.tablet {
			gap: 3vw;
		}

		@include mixins.desktop {
			@include mixins.desktop-padding;
			flex-direction: row;
			align-items: center;
			column-gap: 10vw;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__album-title {
		@extend %mobile__subheader;
		font-weight: 400;

		@include mixins.tablet {
			@include typography.subheader;
		}
	}

	&__header {
		margin: 0 0 0.5rem;
		max-width: 13rem;
		font-weight: 600;

		@include mixins.tablet {
			margin: 0;
			max-width: 34rem;
		}
	}
}

.soundcloud-widget {
	background-color: white;
	border: 0.063rem solid white;
	border-radius: 0.25rem;
	height: 33%;
	max-height: 8rem;

	@include mixins.tablet {
		width: 26rem;
		margin: 1rem 0 2rem;
	}

	@include mixins.desktop {
		margin: 4.5rem 0 0;
	}
}

.shows {
	padding: 2rem 0 1rem;

	&__header {
		@include mixins.mobile-padding;
		@extend %mobile__page-header;
		font-weight: 600;
		margin: 0 0 0.5rem;

		@include mixins.tablet {
			@include typography.section-header;
		}

		@include mixins.desktop {
			@include mixins.desktop-padding;
		}
	}

	&__container {
	}

	&__listing {
		@include mixins.mobile-padding;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 1rem;
		border-bottom: 0.063rem solid colours.$secondary_med;

		@include mixins.desktop {
			@include mixins.desktop-padding;
		}
	}
}

.listing {
	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;

		&:hover {
			background-color: colours.$secondary_light;
		}
	}

	&__header {
		@extend %mobile__other-text;
		font-weight: 600;
		color: colours.$primary_med;
		margin: 1rem 0 0.5rem;
	}

	&__place {
		@extend %mobile__body-copy;
		margin: 0;
	}

	&__date {
		@extend .listing__place;
		font-weight: 600;
		color: colours.$primary_dark;
	}

	&__tickets-btn {
		@extend %mobile__subheader;
		width: 100%;
		height: 2.5rem;
		background-color: colours.$primary_dark;
		color: colours.$primary_light;
		border: none;
		border-radius: 0.25rem;
		margin-top: 1rem;

		@include mixins.tablet {
			min-width: 9.375rem;
			padding: 0 2rem;
		}

		&:hover {
			background-color: colours.$secondary_dark;
		}
	}
}
